// @import "./font";

html {
  scroll-behavior: smooth;
  min-height: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
}

body::-webkit-scrollbar {
  //display: none;
  background: rgb(19, 18, 18);
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

.h-100vh {
  height: 100vh;
}

.min-h-screen {
  min-height: 100vh;
}

.pointer {
  cursor: pointer;
}

// ---- header , text --------

.header-1 {
  //font-weight: 300;
  font-family: "KondolarThai", serif;
  font-size: 48px;
  //line-height: 130%;
  @media #{$mq-mini-mobile} {
    font-size: 24px;
  }
}
.header-2 {
  //font-weight: 300;
  font-family: "KondolarThai", serif;
  font-size: 36px;
  //line-height: 130%;
  @media #{$mq-mini-mobile} {
    font-size: 21px;
  }
}
.header-3 {
  //font-weight: 300;
  font-family: "KondolarThai", serif;
  font-size: 24px;
  //line-height: 130%;
  @media #{$mq-mini-mobile} {
    font-size: 18px;
  }
}

.text-1 {
  //line-height: 150%;
  font-family: "Anuphan", serif;
  font-size: 21px;
  @media #{$mq-mini-mobile} {
    font-size: 16px;
  }
}
.text-2 {
  //line-height: 150%;
  font-family: "Anuphan", serif;
  font-size: 18px;
  @media #{$mq-mini-mobile} {
    font-size: 14px;
  }
}
.text-3 {
  //line-height: 150%;
  font-family: "Anuphan", serif;
  font-size: 16px;
  @media #{$mq-mini-mobile} {
    font-size: 12px;
  }
}
.text-4 {
  //line-height: 150%;
  font-family: "Anuphan", serif;
  font-size: 14px;
  @media #{$mq-mini-mobile} {
    font-size: 10px;
  }
}

.subtitle {
  //line-height: 150%;
  font-family: "Anuphan", serif;
  font-size: 24px;
  @media #{$mq-mini-mobile} {
    font-size: 18px;
  }
}
.body-text {
  //line-height: 150%;
  font-family: "BaiJamjuree", serif;
  font-size: 17px;
  @media #{$mq-mini-mobile} {
    font-size: 15px;
  }
}
.btn-text-1 {
  //line-height: 150%;
  font-family: "Anuphan", serif;
  font-size: 14px;
  @media #{$mq-mini-mobile} {
    font-size: 10px;
  }
}
.btn-text-2 {
  //line-height: 150%;
  font-family: "Anuphan", serif;
  font-size: 10px;
  @media #{$mq-mini-mobile} {
    font-size: 8px;
  }
}
.caption-1 {
  //line-height: 150%;
  font-family: "Anuphan", serif;
  font-size: 14px;
  @media #{$mq-mini-mobile} {
    font-size: 10px;
  }
}
.caption-2 {
  //line-height: 150%;
  font-family: "Anuphan", serif;
  font-size: 10px;
  @media #{$mq-mini-mobile} {
    font-size: 8px;
  }
}
.link-text {
  //line-height: 150%;
  font-family: "BaiJamjuree", serif;
  font-size: 12px;
  @media #{$mq-mini-mobile} {
    font-size: 10px;
  }
}

// ------------ color ----------------

.orange {
  color: #ff8310;
}

.purple {
  color: #d170ff;
}

.blue {
  color: #538dff;
}

.green {
  color: #6adc7b;
}

.green-2 {
  color: #c3da14;
}

.red {
  color: #ff583e;
}

.pink {
  color: #ff9fdf;
}

.gray-1 {
  color: #b2b2b2;
}

.gray-2 {
  color: #dddddd;
}

.gray-3 {
  color: #e8e4d8;
}

.bg-orange {
  background-color: #ff8310;
}

.bg-purple {
  background-color: #d170ff;
}

.bg-blue {
  background-color: #538dff !important;
}

.bg-green {
  background-color: #6adc7b;
}

.bg-green-2 {
  background-color: #c3da14;
}

.bg-red {
  background-color: #ff583e;
}

.bg-pink {
  background-color: #ff9fdf;
}

.bg-gray-1 {
  background-color: #b2b2b2;
}

.bg-gray-2 {
  background-color: #dddddd;
}

.bg-gray-3 {
  background-color: #e8e4d8;
}

// ----------------------------

.shelf {
  position: relative;
}

.v-autocomplete-input {
  background: none !important;
  color: #ffb9af !important;
  font-size: 16px !important;
  line-height: 150%;
  text-align: center;
  border: none !important;
  outline: none !important;
  width: 630px;
  height: 90px;
  position: relative;
  top: 25px;
  cursor: text !important;
  max-width: none !important;
  padding: 0 35px;
  @media #{$mq-mini-mobile} {
    width: 280px;
    height: 60px;
    //left: 7%;
  }
}

.v-autocomplete-input-group,
.book-input {
  height: 80px;
}

.v-autocomplete-list {
  max-width: none !important;
  border: none !important;
  width: 630px;
  max-height: 120px;
  overflow-y: auto;
  text-align: center;
  border-radius: 10px;
  top: 120px;
  background-color: white;

  .dropdown-item {
    font-size: 16px !important;
  }

  @media #{$mq-mini-mobile} {
    width: 300px;
    top: 75%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(25%);
    -webkit-transform: translateX(-50%) translateY(25%);
    transform: translateX(-50%) translateY(25%);
  }
}

.v-autocomplete
  .v-autocomplete-list
  .v-autocomplete-list-item.v-autocomplete-item-active {
  background-color: #e0e0e0 !important;
  color: #000000;
}

::-webkit-input-placeholder {
  /* Edge */
  color: #ffb9af;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ffb9af;
}

::placeholder {
  color: #ffb9af;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg)
    no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: 0.5;
  pointer-events: all;
}

input[type="search"].dark::-webkit-search-cancel-button {
  filter: invert(1);
}

input[type="search"]:focus::placeholder {
  color: transparent;
}

.scrollama__debug-offset {
  display: none;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s !important;
}
.fade-enter,
.fade-leave-to {
  opacity: 0 !important;
}

.modal-content {
  background: none;
  border: 0;
}

.modal-open {
  padding-right: 0 !important;
}

.reward-box {
  border: 1px solid #fffbdb !important;
  box-shadow: 27px 44px 10px rgba(0, 0, 0, 0.25);
}

.w-sm-50 {
  width: 50%;
  @media #{$mq-mobile} {
    width: 100%;
    padding: 0 10px;
  }
}

.opacity-0-5 {
  opacity: 0.5;
}

.cursor-grab {
  cursor: grab;
}

.fade-in {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut ease 8s;
  -webkit-animation: fadeOut ease 8s;
  -moz-animation: fadeOut ease 8s;
  -o-animation: fadeOut ease 8s;
  -ms-animation: fadeOut ease 8s;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.popover {
  z-index: 10;
}
