$green: #94d0ae;
$purple: #957ad3;
$pink: #fa9cc0;
$blue: #243aff;
$light-blue: #08b1e2;
$red: #ef364c;
$orange: #fd5b2a;
$yellow: #fab43b;
$black: #000;
$white: #fff;
$light-grey: #f2f2f0;
$dark-grey: #929191;

$bp-mobile: 768px;
$bp-mini-mobile: 600px;
$bp-lg: 992px;
$bp-tablet: 1024px;
$bp-small-laptop: 1200px;
$mq-small-laptop: "(max-width: #{$bp-small-laptop})";
$mq-mobile: "(max-width: #{$bp-mobile})";
$mq-tablet: "(max-width: #{$bp-tablet})";
$mq-lg: "(max-width: #{$bp-lg})";
$mq-mini-mobile: "(max-width: #{$bp-mini-mobile})";
